.messageCardGroupContainer{
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    font-size: 17px;
}
.cardGroupHeaderObject{
    font-size: 28px;
    
}
.cardGroupHeaderImage{
    justify-content: center;
    display: flex;
    align-items: center;
}
.cardGroupAvatar{
 visibility: hidden;
}