.bCardClass{
    font-size: 14px;
}
.imageCol{
    justify-content: center;
    display: flex;
    align-items: center;
}
.emailRow{
    height:50%; 
    align-items: center
}
.mailContentRow{
    height:50%; 
    align-items: center
}
.iconsRow{
    height:40%; 
    align-items: center
}
.datePriorityRow{
    height:60%;
}